 {
	"cookbook.recipe.feed":  {
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "35155961-b9ae-48d4-b4aa-1a569ec7930c"
			}
		}
	},
	"cookbook.recipe.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "160",
				"height": "",
				"link_to_item": "1",
				"element": "ff94e00f-5055-439f-8c3e-fe5bef815ad1"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "35155961-b9ae-48d4-b4aa-1a569ec7930c"
			}
		},
		"infobar":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "1",
				"show_message": "0",
				"element": "3194f2e2-b29e-4a6b-8555-17c58b42ed6c"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "23bacf33-73b5-4cd7-89cf-0302981d9f7a"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "242ce9a3-38b5-4190-b309-32779145e3f3"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "aeccb029-0040-43f4-b485-65835745b508"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemlink"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"single_comment_text": "%s Comment",
				"multiple_comments_text": "%s Comments",
				"no_comments_text": "Discuss this Recipe",
				"element": "_itemcommentslink"
			}
		}
	},
	"cookbook.recipe.full":  {
		"header":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "0",
				"show_message": "1",
				"element": "3194f2e2-b29e-4a6b-8555-17c58b42ed6c"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"infobar":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Ready in",
				"separated_by": "separator=[, ]",
				"element": "23bacf33-73b5-4cd7-89cf-0302981d9f7a"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "65930fe3-b0ff-435d-b95f-77189e6152cd"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "242ce9a3-38b5-4190-b309-32779145e3f3"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "9644cbe8-a679-4513-903e-f14ad22f0203"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "aeccb029-0040-43f4-b485-65835745b508"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "400",
				"height": "",
				"link_to_item": "0",
				"spotlight": "0",
				"spotlight_effect": "default",
				"spotlight_caption": "0",
				"element": "ff94e00f-5055-439f-8c3e-fe5bef815ad1"
			}
		},
		"ingredients":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<li>%s<\/li>] enclosing_tag=[<ul>%s<\/ul>]",
				"element": "0f21e4c9-1beb-4365-8a1d-1f7e8b9a793c"
			}
		},
		"directions":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<li>%s<\/li>] enclosing_tag=[<ol>%s<\/ol>]",
				"display": "all",
				"element": "b14dbe99-8da7-4257-806e-38c48c884381"
			}
		},
		"sidebar":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Share this recipe",
				"ggsize": "medium",
				"ggcount": "0",
				"fbheight": "20",
				"fbwidth": "100",
				"fbshow_faces": "false",
				"fblayout": "button_count",
				"fbaction": "like",
				"fbcolorscheme": "light",
				"fbref": "",
				"twvia": "",
				"twtext": "",
				"twrelated": "",
				"twcount": "none",
				"element": "ac7989ea-6b6a-49d1-82e2-2ad23e77a9f0"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<li>%s<\/li>] enclosing_tag=[<ul>%s<\/ul>]",
				"element": "2b4054aa-d50c-4312-a132-fc104db7dd36"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"order":  {
					"0": "_itemcreated",
					"1": ""
				},
				"layout": "related",
				"link_to_item": "0",
				"separated_by": "tag=[<div>%s<\/div>]",
				"element": "c9114a01-e0eb-4aea-96e0-6bc4ea20112c"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"order":  {
					"0": "_itemcreated",
					"1": ""
				},
				"layout": "",
				"link_to_item": "1",
				"separated_by": "tag=[<li>%s<\/li>] enclosing_tag=[<ul>%s<\/ul>]",
				"element": "0d31fd39-fae1-4aa9-b016-a0f3e0c56d15"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "26a171d9-8d80-4358-9536-ddcece403382"
			},
			"5":  {
				"showlabel": "1",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemtag"
			}
		}
	},
	"cookbook.recipe.related":  {
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "50",
				"height": "",
				"link_to_item": "1",
				"element": "ff94e00f-5055-439f-8c3e-fe5bef815ad1"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		}
	},
	"cookbook.recipe.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "1",
				"element": "35155961-b9ae-48d4-b4aa-1a569ec7930c"
			},
			"2":  {
				"altlabel": "",
				"required": "1",
				"element": "0f21e4c9-1beb-4365-8a1d-1f7e8b9a793c"
			},
			"3":  {
				"altlabel": "",
				"required": "1",
				"element": "b14dbe99-8da7-4257-806e-38c48c884381"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "ff94e00f-5055-439f-8c3e-fe5bef815ad1"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "23bacf33-73b5-4cd7-89cf-0302981d9f7a"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "65930fe3-b0ff-435d-b95f-77189e6152cd"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "242ce9a3-38b5-4190-b309-32779145e3f3"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "9644cbe8-a679-4513-903e-f14ad22f0203"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "aeccb029-0040-43f4-b485-65835745b508"
			},
			"5":  {
				"altlabel": "",
				"required": "0",
				"element": "26a171d9-8d80-4358-9536-ddcece403382"
			},
			"6":  {
				"altlabel": "",
				"required": "0",
				"element": "2b4054aa-d50c-4312-a132-fc104db7dd36"
			},
			"7":  {
				"altlabel": "",
				"required": "0",
				"element": "c9114a01-e0eb-4aea-96e0-6bc4ea20112c"
			},
			"8":  {
				"altlabel": "",
				"required": "0",
				"element": "0d31fd39-fae1-4aa9-b016-a0f3e0c56d15"
			},
			"9":  {
				"altlabel": "",
				"required": "0",
				"element": "9a1fbd9d-1106-4f2a-8bfc-14f3c6ecdc1a"
			}
		}
	}
}