 {
	"movie.movie.feed":  {
		"description":  {
			"0":  {
				"altlabel": "",
				"display": "all",
				"element": "b40b44c8-a289-46b6-a6da-9f9824714762",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			}
		}
	},
	"movie.movie.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "cec36dd6-ffde-494d-b25c-8e58bff84e22"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "40405a26-d781-4f80-86f6-bc8587c59755"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"date_format": "%d %B %Y",
				"custom_format": "",
				"element": "8a220e32-6975-41ec-9c26-4f73f18d47d3"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "b40b44c8-a289-46b6-a6da-9f9824714762"
			}
		},
		"specification":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Genre",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemcategory"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "69057819-0f6e-46ba-a16f-580328c3bfe4"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"order": "",
				"separated_by": "separator=[, ]",
				"layout": "",
				"link_to_item": "1",
				"element": "3c1156e0-14d2-4e70-8d75-a3a92c93d7b9"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "2cb12d98-ceb8-4c15-938f-d51b39256056"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "2a2257fa-56fd-4bdb-8b47-662baba460e4"
			},
			"5":  {
				"showlabel": "1",
				"altlabel": "",
				"order": "",
				"separated_by": "separator=[, ]",
				"layout": "",
				"link_to_item": "1",
				"element": "f8cadbf4-23f0-479f-929f-15801b7a8442"
			},
			"6":  {
				"showlabel": "1",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemtag"
			}
		},
		"summary":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "fc6f9df9-8604-4ce2-a293-c60089ec6dbc"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "cad118dc-046d-493a-bc81-54baab5885a4"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "a015036f-653a-4b94-a57f-c78824688330"
			}
		},
		"sidebar":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "0",
				"show_message": "1",
				"element": "176cb7b9-307b-44ad-b2d9-964cfcb9abcb"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "245",
				"height": "",
				"link_to_item": "0",
				"element": "540aa2ad-9a8d-454d-b915-605b884e76d5"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"order": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"layout": "related",
				"link_to_item": "0",
				"element": "391d1811-250b-4e1f-9e67-a5cbbbbff1b9"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"mode": "lightbox",
				"effect": "fade",
				"thumb": "default",
				"order": "asc",
				"spotlight": "0",
				"width": "100",
				"height": "0",
				"resize": "1",
				"count": "0",
				"element": "7ffdd4bd-bafd-4b2d-9639-b7e3270864f1"
			}
		}
	},
	"movie.movie.related":  {
		"title":  {
			"0":  {
				"altlabel": "",
				"custom_format": "%Y",
				"date_format": "custom",
				"element": "8a220e32-6975-41ec-9c26-4f73f18d47d3",
				"separated_by": "separator=[, ]",
				"showlabel": "0"
			},
			"1":  {
				"altlabel": "",
				"element": "_itemname",
				"link_to_item": "1",
				"showlabel": "0"
			}
		}
	},
	"movie.movie.teaser":  {
		"media":  {
			"0":  {
				"altlabel": "",
				"element": "540aa2ad-9a8d-454d-b915-605b884e76d5",
				"height": "",
				"link_to_item": "1",
				"showlabel": "0",
				"width": "140"
			}
		},
		"title":  {
			"0":  {
				"altlabel": "",
				"element": "_itemname",
				"link_to_item": "1",
				"showlabel": "0"
			}
		}
	},
	"movie.person.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"specification":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"date_format": "custom",
				"custom_format": "%d. %B %Y",
				"element": "01487dbf-e63a-446e-a099-b07be96570a3"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "f34a0b21-d430-4e19-a0d4-bc2820958b76"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "0798146b-ac26-4637-9d78-afd3042eed24"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "0d476334-e441-40c0-ac48-7a2bb0aef262"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "a552a157-ce11-4b11-ad34-5de19e065d53"
			}
		},
		"sidebar":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "245",
				"height": "",
				"link_to_item": "1",
				"element": "93d283c0-eee0-473e-bf68-e5ebc3c3338e"
			}
		},
		"movie":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Filmography",
				"order": "",
				"separated_by": "tag=[<li>%s<\/li>] enclosing_tag=[<ul>%s<\/ul>]",
				"layout": "related",
				"link_to_item": "1",
				"element": "b514c22a-278c-4abf-8417-60a01677d3ef"
			}
		}
	},
	"movie.person.related":  {
		"media":  {
			"0":  {
				"altlabel": "",
				"element": "93d283c0-eee0-473e-bf68-e5ebc3c3338e",
				"height": "",
				"link_to_item": "1",
				"showlabel": "0",
				"width": "20"
			}
		},
		"title":  {
			"0":  {
				"altlabel": "",
				"element": "_itemname",
				"link_to_item": "1",
				"showlabel": "0"
			}
		}
	},
	"movie.movie.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "1",
				"element": "b40b44c8-a289-46b6-a6da-9f9824714762"
			},
			"2":  {
				"altlabel": "",
				"required": "1",
				"element": "fc6f9df9-8604-4ce2-a293-c60089ec6dbc"
			},
			"3":  {
				"altlabel": "",
				"required": "1",
				"element": "cad118dc-046d-493a-bc81-54baab5885a4"
			},
			"4":  {
				"altlabel": "",
				"required": "1",
				"element": "a015036f-653a-4b94-a57f-c78824688330"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "540aa2ad-9a8d-454d-b915-605b884e76d5"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "3c1156e0-14d2-4e70-8d75-a3a92c93d7b9"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "391d1811-250b-4e1f-9e67-a5cbbbbff1b9"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "cec36dd6-ffde-494d-b25c-8e58bff84e22"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "8a220e32-6975-41ec-9c26-4f73f18d47d3"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "40405a26-d781-4f80-86f6-bc8587c59755"
			},
			"5":  {
				"altlabel": "",
				"required": "0",
				"element": "69057819-0f6e-46ba-a16f-580328c3bfe4"
			},
			"6":  {
				"altlabel": "",
				"required": "0",
				"element": "2cb12d98-ceb8-4c15-938f-d51b39256056"
			},
			"7":  {
				"altlabel": "",
				"required": "0",
				"element": "2a2257fa-56fd-4bdb-8b47-662baba460e4"
			},
			"8":  {
				"altlabel": "",
				"required": "0",
				"element": "f8cadbf4-23f0-479f-929f-15801b7a8442"
			}
		}
	},
	"movie.person.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "a552a157-ce11-4b11-ad34-5de19e065d53"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "93d283c0-eee0-473e-bf68-e5ebc3c3338e"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "01487dbf-e63a-446e-a099-b07be96570a3"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "f34a0b21-d430-4e19-a0d4-bc2820958b76"
			},
			"5":  {
				"altlabel": "",
				"required": "0",
				"element": "0798146b-ac26-4637-9d78-afd3042eed24"
			},
			"6":  {
				"altlabel": "",
				"required": "0",
				"element": "0d476334-e441-40c0-ac48-7a2bb0aef262"
			},
			"7":  {
				"altlabel": "",
				"required": "0",
				"element": "b514c22a-278c-4abf-8417-60a01677d3ef"
			}
		}
	}
}