 {
	"name": "Company",
	"elements":  {
		"ed9cdd4c-ae8b-4ecb-bca7-e12a5153bc02":  {
			"type": "text",
			"name": "Subtitle",
			"description": "",
			"default": "",
			"repeatable": "0"
		},
		"a77f06fc-1561-453c-a429-8dd05cdc29f5":  {
			"type": "textarea",
			"name": "Teaser Description",
			"description": "",
			"default": "",
			"jplugins": "0",
			"repeatable": "0"
		},
		"1a85a7a6-2aba-4480-925b-6b97d311ee6c":  {
			"type": "textarea",
			"name": "Description",
			"description": "",
			"default": "",
			"jplugins": "1",
			"repeatable": "1"
		},
		"ffcc1c50-8dbd-4115-b463-b43bdcd44a57":  {
			"type": "image",
			"name": "Image",
			"description": "",
			"load_lightbox": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512"
		},
		"4339a108-f907-4661-9aab-d6f3f00e736e":  {
			"type": "text",
			"name": "Street",
			"description": "",
			"default": "",
			"repeatable": "0"
		},
		"ea0666d7-51e3-4e52-8617-25e3ad61f8b8":  {
			"type": "text",
			"name": "Postcode",
			"description": "",
			"default": "",
			"repeatable": "0"
		},
		"90a18889-884b-4d53-a302-4e6e4595efa0":  {
			"type": "text",
			"name": "City",
			"description": "",
			"default": "",
			"repeatable": "0"
		},
		"6a20c005-7bd3-4014-919a-6edfd2239284":  {
			"type": "text",
			"name": "State",
			"description": "",
			"default": "",
			"repeatable": "0"
		},
		"81c5f642-2f7f-491f-b1c2-ce32ec688125":  {
			"type": "country",
			"name": "Country",
			"description": "",
			"multiselect": "1",
			"selectable_country":  {
				"0": "DE",
				"1": "GB",
				"2": "US"
			}
		},
		"b870164b-fe78-45b0-b840-8ebceb9b9cb6":  {
			"type": "text",
			"name": "Telephone",
			"description": "",
			"default": "",
			"repeatable": "0"
		},
		"8a91aab2-7862-4a04-bd28-07f1ff4acce5":  {
			"type": "text",
			"name": "Fax",
			"description": "",
			"default": "",
			"repeatable": "0"
		},
		"3f15b5e4-0dea-4114-a870-1106b85248de":  {
			"type": "email",
			"name": "E-Mail",
			"description": "",
			"repeatable": "0"
		},
		"0b3d983e-b2fa-4728-afa0-a0b640fa34dc":  {
			"type": "link",
			"name": "Website",
			"description": "",
			"repeatable": "0"
		},
		"7056f1d2-5253-40b6-8efd-d289b10a8c69":  {
			"type": "relateditems",
			"name": "Employee",
			"description": "",
			"selectable_type":  {
				"0": "employee"
			}
		},
		"cf6dd846-5774-47aa-8ca7-c1623c06e130":  {
			"type": "rating",
			"name": "Rating",
			"description": "",
			"stars": "5",
			"allow_vote": "0"
		},
		"160bd40a-3e0e-48de-b6cd-56cdcc9db892":  {
			"type": "googlemaps",
			"name": "Maps",
			"description": "",
			"google_api_key": "ABQIAAAA2u6VGRnq68BKZyF5BisgghQbadBmKcUIPHxSF0F5bD4xQY6ODhSeS9As9v-ogciqHsd4GS7PWWlt2Q",
			"locale": "en"
		}
	}
}