 {
	"name": "Employee",
	"elements":  {
		"96624fe5-ff5a-4f1b-800e-a125e3980d43":  {
			"type": "image",
			"name": "Image",
			"description": "",
			"load_lightbox": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512"
		},
		"507fbea1-7974-4a67-aec8-3649cc41a067":  {
			"type": "text",
			"name": "Position",
			"description": "",
			"default": "",
			"repeatable": "0"
		},
		"241905cc-36d4-4611-a1d5-fadfe280f70e":  {
			"type": "textarea",
			"name": "Description",
			"description": "",
			"default": "",
			"jplugins": "1",
			"repeatable": "1"
		},
		"59788cf7-338f-47b4-8eb2-9a9e8eb36fbf":  {
			"type": "text",
			"name": "Telephone",
			"description": "",
			"default": "",
			"repeatable": "0"
		},
		"b05cdf78-0375-457f-897a-f68f7ce0a776":  {
			"type": "email",
			"name": "E-Mail",
			"description": "",
			"repeatable": "0"
		},
		"3adbf326-7845-4e0d-8a11-cd631a829e96":  {
			"type": "link",
			"name": "Website",
			"description": "",
			"repeatable": "1"
		},
		"9f6a2113-ff5b-4974-9c19-5cb8eafb41ef":  {
			"type": "relateditems",
			"name": "Company",
			"description": "",
			"selectable_type":  {
				"0": "company"
			}
		}
	}
}