 {
	"name": "File",
	"elements":  {
		"f85c494b-2b32-4109-b8c1-083cca2b7db6":  {
			"name": "File",
			"description": "",
			"directory": "images",
			"download_mode": "2",
			"upload_extensions": "png,jpg,doc,mp3,mov,avi,mpg,zip,rar,gz",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "download"
		},
		"b9e826b5-e671-4fe8-a447-bf08c8c6b8e4":  {
			"name": "Description",
			"description": "",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"dbb6e295-9609-4fcc-a527-bc6eac248a6a":  {
			"name": "Version",
			"description": "",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"09ab8526-ffd4-434c-ac61-5bef2365b416":  {
			"name": "Author",
			"description": "",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"b6924e9c-b5af-4568-960f-184a68dc35b2":  {
			"name": "License",
			"description": "",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"c5121091-6f63-43ad-a86a-136025fe6da0":  {
			"name": "Instructions",
			"description": "",
			"repeatable": "1",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"c2f19082-507f-4778-9ddb-aa2d6889d6be":  {
			"name": "Rating",
			"description": "",
			"stars": "5",
			"allow_vote": "0",
			"type": "rating"
		}
	}
}