 {
	"download.file.feed":  {
		"description":  {
			"0":  {
				"altlabel": "",
				"element": "b9e826b5-e671-4fe8-a447-bf08c8c6b8e4",
				"separated_by": "separator=[, ]",
				"showlabel": "0"
			},
			"1":  {
				"altlabel": "",
				"element": "dbb6e295-9609-4fcc-a527-bc6eac248a6a",
				"separated_by": "separator=[, ]",
				"showlabel": "0"
			},
			"2":  {
				"altlabel": "",
				"element": "09ab8526-ffd4-434c-ac61-5bef2365b416",
				"separated_by": "separator=[, ]",
				"showlabel": "0"
			},
			"3":  {
				"altlabel": "",
				"element": "b6924e9c-b5af-4568-960f-184a68dc35b2",
				"separated_by": "separator=[, ]",
				"showlabel": "0"
			},
			"4":  {
				"altlabel": "",
				"display": "all",
				"element": "c5121091-6f63-43ad-a86a-136025fe6da0",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			}
		}
	},
	"download.file.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "imagelink",
				"element": "f85c494b-2b32-4109-b8c1-083cca2b7db6"
			}
		},
		"right":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "0",
				"show_message": "1",
				"element": "c2f19082-507f-4778-9ddb-aa2d6889d6be"
			}
		},
		"specification":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Last update",
				"date_format": "%d %B %Y",
				"custom_format": "",
				"element": "_itemmodified"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "File size",
				"display": "filesize",
				"element": "f85c494b-2b32-4109-b8c1-083cca2b7db6"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "dbb6e295-9609-4fcc-a527-bc6eac248a6a"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "Downloaded",
				"display": "filehits",
				"element": "f85c494b-2b32-4109-b8c1-083cca2b7db6"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "09ab8526-ffd4-434c-ac61-5bef2365b416"
			},
			"5":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "b6924e9c-b5af-4568-960f-184a68dc35b2"
			}
		},
		"button":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "buttonlink",
				"element": "f85c494b-2b32-4109-b8c1-083cca2b7db6"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "c5121091-6f63-43ad-a86a-136025fe6da0"
			}
		}
	},
	"download.file.teaser":  {
		"button":  {
			"0":  {
				"altlabel": "",
				"display": "buttonlink",
				"element": "f85c494b-2b32-4109-b8c1-083cca2b7db6",
				"showlabel": "0"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"display": "imagelink",
				"element": "f85c494b-2b32-4109-b8c1-083cca2b7db6",
				"showlabel": "0"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "Updated on",
				"custom_format": "",
				"date_format": "%d %B %Y",
				"element": "_itemmodified",
				"showlabel": "1"
			}
		},
		"specification":  {
			"0":  {
				"altlabel": "",
				"element": "b9e826b5-e671-4fe8-a447-bf08c8c6b8e4",
				"separated_by": "separator=[, ]",
				"showlabel": "0"
			},
			"1":  {
				"altlabel": "",
				"element": "dbb6e295-9609-4fcc-a527-bc6eac248a6a",
				"separated_by": "separator=[, ]",
				"showlabel": "1"
			}
		},
		"title":  {
			"0":  {
				"altlabel": "",
				"element": "_itemname",
				"link_to_item": "1",
				"showlabel": "0"
			}
		}
	},
	"download.file.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "1",
				"element": "f85c494b-2b32-4109-b8c1-083cca2b7db6"
			},
			"2":  {
				"altlabel": "",
				"required": "1",
				"element": "b9e826b5-e671-4fe8-a447-bf08c8c6b8e4"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "c5121091-6f63-43ad-a86a-136025fe6da0"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "09ab8526-ffd4-434c-ac61-5bef2365b416"
			},
			"5":  {
				"altlabel": "",
				"required": "0",
				"element": "dbb6e295-9609-4fcc-a527-bc6eac248a6a"
			},
			"6":  {
				"altlabel": "",
				"required": "0",
				"element": "b6924e9c-b5af-4568-960f-184a68dc35b2"
			}
		}
	}
}