 {
	"name": "Camera",
	"elements":  {
		"beab45eb-b32a-4766-822d-b3fb72b5b1d4":  {
			"name": "Teaser Description",
			"description": "",
			"repeatable": "0",
			"default": "",
			"jplugins": "0",
			"type": "textarea"
		},
		"83ba7366-d126-40f0-923e-3e7a94f0e773":  {
			"name": "Description",
			"description": "",
			"repeatable": "1",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"c0794696-a5d2-4df9-b20f-f23b0f94a41b":  {
			"name": "Teaser Image",
			"description": "",
			"load_lightbox": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"246e955a-5a57-4ad0-ad8c-c15fc7bfccb6":  {
			"name": "Image",
			"description": "",
			"load_lightbox": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"08416e3c-059f-4f0c-bbb1-82b871d1c021":  {
			"name": "Gallery",
			"description": "",
			"directory": "images",
			"load_lightbox": "1",
			"rel": "",
			"type": "gallery"
		},
		"f700ccbc-cf11-4e23-9b3d-374e2cc8505b":  {
			"name": "Megapixels",
			"description": "",
			"default": "",
			"options":  {
				"0":  {
					"name": "12.1 Megapixels",
					"value": "121-megapixels"
				},
				"1":  {
					"name": "10 Megapixels",
					"value": "10-megapixels"
				},
				"2":  {
					"name": "8 Megapixels",
					"value": "8-megapixels"
				},
				"3":  {
					"name": "7.1 Megapixels",
					"value": "71-megapixels"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"747f7ac5-0e0c-4fdc-a3da-4ad77a66c1e3":  {
			"name": "Optical Zoom",
			"description": "",
			"default": "",
			"options":  {
				"0":  {
					"name": "7x",
					"value": "7x"
				},
				"1":  {
					"name": "3.2x",
					"value": "32x"
				},
				"2":  {
					"name": "3x",
					"value": "3x"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"17818f17-5b10-472c-a2ba-ad47d2f5c74d":  {
			"name": "Digital Zoom",
			"description": "",
			"default": "",
			"options":  {
				"0":  {
					"name": "6x",
					"value": "6x"
				},
				"1":  {
					"name": "5.6x",
					"value": "56x"
				},
				"2":  {
					"name": "5x",
					"value": "56x"
				},
				"3":  {
					"name": "4x",
					"value": "4x"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"fb25635f-7709-4caa-9b72-8900f591f080":  {
			"name": "LCD Screen Size",
			"description": "",
			"default": "",
			"options":  {
				"0":  {
					"name": "2.7 in",
					"value": "27-in"
				},
				"1":  {
					"name": "2.5 in",
					"value": "25-in"
				},
				"2":  {
					"name": "2.4 in",
					"value": "24-in"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"fff9519f-3b36-4df5-8722-17db9f2ea31c":  {
			"name": "Rating",
			"description": "",
			"stars": "5",
			"allow_vote": "0",
			"type": "rating"
		},
		"64c188a6-cf2f-4895-8879-8b67a58b6780":  {
			"name": "Related Products",
			"description": "",
			"type": "relateditems"
		},
		"503d23f9-847c-4485-8065-793984b2d7d3":  {
			"name": "Social Buttons",
			"description": "",
			"default": "1",
			"google": "1",
			"twitter": "1",
			"facebook": "1",
			"locale": "0",
			"type": "socialbuttons"
		}
	}
}