 {
	"name": "Cell Phone",
	"elements":  {
		"beab45eb-b32a-4766-822d-b3fb72b5b1d4":  {
			"name": "Teaser Description",
			"description": "",
			"repeatable": "0",
			"default": "",
			"jplugins": "0",
			"type": "textarea"
		},
		"83ba7366-d126-40f0-923e-3e7a94f0e773":  {
			"name": "Description",
			"description": "",
			"repeatable": "1",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"c0794696-a5d2-4df9-b20f-f23b0f94a41b":  {
			"name": "Teaser Image",
			"description": "",
			"load_lightbox": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"246e955a-5a57-4ad0-ad8c-c15fc7bfccb6":  {
			"name": "Image",
			"description": "",
			"load_lightbox": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"08416e3c-059f-4f0c-bbb1-82b871d1c021":  {
			"name": "Gallery",
			"description": "",
			"directory": "images",
			"load_lightbox": "1",
			"rel": "",
			"type": "gallery"
		},
		"a9714b9a-da8e-468e-97d8-949523495c46":  {
			"name": "Wireless",
			"description": "",
			"default": "",
			"options":  {
				"0":  {
					"name": "Wi-Fi",
					"value": "wi-fi"
				},
				"1":  {
					"name": "Bluetooth",
					"value": "bluetooth"
				},
				"2":  {
					"name": "Infrared",
					"value": "infrared"
				}
			},
			"multiple": "1",
			"type": "select"
		},
		"624f184b-efb9-4738-9d76-0827810e3d3a":  {
			"name": "Weight",
			"description": "",
			"default": "",
			"options":  {
				"0":  {
					"name": "4.7 oz.",
					"value": "47-oz"
				},
				"1":  {
					"name": "4.2 oz",
					"value": "42-oz"
				},
				"2":  {
					"name": "3.6 oz.",
					"value": "36-oz"
				},
				"3":  {
					"name": "3.2 oz.",
					"value": "32-oz"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"f94f5bbb-c218-4987-924d-93fadc58d4ec":  {
			"name": "Color",
			"description": "",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"fff9519f-3b36-4df5-8722-17db9f2ea31c":  {
			"name": "Rating",
			"description": "",
			"stars": "5",
			"allow_vote": "0",
			"type": "rating"
		},
		"64c188a6-cf2f-4895-8879-8b67a58b6780":  {
			"name": "Related Products",
			"description": "",
			"type": "relateditems"
		},
		"7f904407-9fa4-44c0-bb14-03878917d32c":  {
			"name": "Social Buttons",
			"description": "",
			"default": "1",
			"google": "1",
			"twitter": "1",
			"facebook": "1",
			"locale": "0",
			"type": "socialbuttons"
		}
	}
}