<?xml version="1.0" encoding="utf-8"?>
<style name="default" label="Default">
	<fields>
		<field type="title" name="title" label="Title" description="" />
		<field type="html" name="content" label="Content" description="" />
		<field type="textarea" name="caption" label="Caption" description="" class="small" />
	</fields>
	<settings>
		<setting name="navigation" label="Navigation" type="radio" default="1">
			<option value="1">Show</option>
			<option value="0">Hide</option>
		</setting>
		<setting name="buttons" label="Buttons" type="radio" default="1">
			<option value="1">Show</option>
			<option value="0">Hide</option>
		</setting>
		<setting name="slices" label="Slices" type="text" default="20" />
		<setting name="animated" label="Effect" type="list" default="randomSimple">
			<option value="top">Top</option>
			<option value="bottom">Bottom</option>
			<option value="left">Left</option>
			<option value="right">Right</option>
			<option value="fade">Fade</option>
			<option value="scrollLeft">ScrollLeft</option>
			<option value="scrollRight">ScrollRight</option>
			<option value="scroll">Scroll</option>
			<option value="sliceUp">SliceUp</option>
			<option value="sliceDown">SliceDown</option>
			<option value="sliceUpDown">SliceUpDown</option>
			<option value="fold">Fold</option>
			<option value="puzzle">Puzzle</option>
			<option value="boxes">Boxes</option>
			<option value="boxesRtl">BoxesRtl</option>
			<option value="kenburns">KenBurns</option>
			<option value="randomSimple">RandomSimple</option>
			<option value="randomFx">RandomFx</option>
		</setting>
		<setting name="caption_animation_duration" label="Caption Animation Duration" type="text" default="500" />
	</settings>
</style>