<?xml version="1.0" encoding="utf-8"?>
<style name="default" label="Default">
	<settings>
		<setting name="order" label="Order" type="list" default="default">
            <option value="default">Default</option>
            <option value="random">Random</option>
        </setting>
		<setting name="total_width" label="Total Width" type="text" default="auto" />
		<setting name="spacing" label="Spacing" type="text" default="0" />
		<setting name="center" label="Center Image" type="radio" default="1">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</setting>
		<setting name="sticky" label="Sticky" type="radio" default="0">
			<option value="1">Yes</option>
			<option value="0">No</option>
		</setting>
        <setting name="duration" label="Effect Duration (ms)" type="text" default="500" />
		<setting name="lightbox" label="Lightbox" type="radio" default="1">
			<option value="1">Enable</option>
			<option value="0">Disable</option>
		</setting>
		<setting name="lightbox_caption" label="Lightbox Caption" type="radio" default="1">
			<option value="1">Enable</option>
			<option value="0">Disable</option>
		</setting>
		<setting name="spotlight" label="Spotlight" type="radio" default="1">
			<option value="1">Enable</option>
			<option value="0">Disable</option>
		</setting>
		<setting name="spotlight_effect" label="Spotlight Effect" type="list" default="">
			<option value="">Default</option>
			<option value="top">Top</option>
			<option value="bottom">Bottom</option>
			<option value="fade">Fade</option>
		</setting>
	</settings>
</style>