 {
	"name": "Recipe",
	"elements":  {
		"ff94e00f-5055-439f-8c3e-fe5bef815ad1":  {
			"name": "Image",
			"description": "",
			"load_lightbox": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512",
			"type": "image"
		},
		"35155961-b9ae-48d4-b4aa-1a569ec7930c":  {
			"name": "Description",
			"description": "",
			"repeatable": "1",
			"default": "",
			"jplugins": "0",
			"type": "textarea"
		},
		"23bacf33-73b5-4cd7-89cf-0302981d9f7a":  {
			"name": "Time",
			"description": "",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"65930fe3-b0ff-435d-b95f-77189e6152cd":  {
			"name": "Serves",
			"description": "",
			"default": "",
			"options":  {
				"0":  {
					"name": "1",
					"value": "1"
				},
				"1":  {
					"name": "2",
					"value": "2"
				},
				"2":  {
					"name": "3",
					"value": "3"
				},
				"3":  {
					"name": "4",
					"value": "4"
				},
				"4":  {
					"name": "5",
					"value": "5"
				},
				"5":  {
					"name": "6",
					"value": "6"
				},
				"6":  {
					"name": "7",
					"value": "7"
				},
				"7":  {
					"name": "8",
					"value": "8"
				},
				"8":  {
					"name": "9",
					"value": "9"
				},
				"9":  {
					"name": "10",
					"value": "10"
				},
				"10":  {
					"name": "11",
					"value": "11"
				},
				"11":  {
					"name": "12",
					"value": "12"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"242ce9a3-38b5-4190-b309-32779145e3f3":  {
			"name": "Complexity",
			"description": "",
			"default": "",
			"options":  {
				"0":  {
					"name": "very easy",
					"value": "very easy"
				},
				"1":  {
					"name": "easy",
					"value": "easy"
				},
				"2":  {
					"name": "medium",
					"value": "medium"
				},
				"3":  {
					"name": "advanced",
					"value": "advanced"
				},
				"4":  {
					"name": "difficult",
					"value": "difficult"
				}
			},
			"multiple": "0",
			"type": "select"
		},
		"9644cbe8-a679-4513-903e-f14ad22f0203":  {
			"name": "kcal",
			"description": "",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"aeccb029-0040-43f4-b485-65835745b508":  {
			"name": "Origin",
			"description": "",
			"multiselect": "1",
			"type": "relatedcategories"
		},
		"26a171d9-8d80-4358-9536-ddcece403382":  {
			"name": "Diet",
			"description": "",
			"multiselect": "1",
			"type": "relatedcategories"
		},
		"0f21e4c9-1beb-4365-8a1d-1f7e8b9a793c":  {
			"name": "Ingredients",
			"description": "",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"b14dbe99-8da7-4257-806e-38c48c884381":  {
			"name": "Directions",
			"description": "",
			"repeatable": "1",
			"default": "",
			"jplugins": "0",
			"type": "textarea"
		},
		"2b4054aa-d50c-4312-a132-fc104db7dd36":  {
			"name": "Suitable Drinks",
			"description": "",
			"default": "",
			"options":  {
				"0":  {
					"name": "White Wine",
					"value": "white-wine"
				},
				"1":  {
					"name": "Red Wine",
					"value": "red-wine"
				},
				"2":  {
					"name": "Coffee & Tee",
					"value": "coffee"
				},
				"3":  {
					"name": "Soft Drinks",
					"value": "soft-drinks"
				}
			},
			"multiple": "1",
			"type": "select"
		},
		"c9114a01-e0eb-4aea-96e0-6bc4ea20112c":  {
			"name": "Suitable Meals",
			"description": "",
			"type": "relateditems"
		},
		"0d31fd39-fae1-4aa9-b016-a0f3e0c56d15":  {
			"name": "Similar recipes",
			"description": "",
			"type": "relateditems"
		},
		"3194f2e2-b29e-4a6b-8555-17c58b42ed6c":  {
			"name": "Rating",
			"description": "",
			"stars": "5",
			"allow_vote": "0",
			"type": "rating"
		},
		"ac7989ea-6b6a-49d1-82e2-2ad23e77a9f0":  {
			"name": "Social Buttons",
			"description": "",
			"default": "1",
			"google": "1",
			"twitter": "1",
			"facebook": "1",
			"locale": "0",
			"type": "socialbuttons"
		}
	}
}