@font-face {
    font-family: 'KingsCrossRegular';
    src: url('/fonts/kingc___-webfont.eot');
    src: url('/fonts/kingc___-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/kingc___-webfont.woff') format('woff'),
         url('/fonts/kingc___-webfont.ttf') format('truetype'),
         url('/fonts/kingc___-webfont.svg#KingsCrossRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}