 {
	"name": "Author",
	"elements":  {
		"ffefb4ed-8d5d-452a-8794-ea82c013384e":  {
			"type": "image",
			"name": "Image",
			"description": "",
			"load_lightbox": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512"
		},
		"14c0dd9f-ae3c-4eb2-8e22-4e9294ad3120":  {
			"type": "textarea",
			"name": "Description",
			"description": "",
			"default": "",
			"jplugins": "0",
			"repeatable": "1"
		},
		"ac84af6f-ec56-4228-b421-ba3981399abe":  {
			"type": "email",
			"name": "E-Mail",
			"description": "",
			"repeatable": "0"
		},
		"4d431350-4f70-45cc-9922-a973ce0fa61f":  {
			"type": "link",
			"name": "Website",
			"description": "",
			"repeatable": "1"
		},
		"d6540bb8-d194-4bb0-879f-86e07c3f7a17":  {
			"type": "relateditems",
			"name": "Article",
			"description": "",
			"selectable_type":  {
				"0": "article"
			}
		}
	}
}