 {
	"name": "Page",
	"elements":  {
		"6cb20a9f-27fa-4d98-ac2e-e959eb3f0f63":  {
			"type": "image",
			"name": "Image",
			"description": "",
			"load_lightbox": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512"
		},
		"43aa1b15-986e-4303-afcf-628b835f10e5":  {
			"type": "textarea",
			"name": "Text",
			"description": "",
			"default": "",
			"jplugins": "1",
			"repeatable": "1"
		}
	}
}