 {
	"name": "Movie",
	"elements":  {
		"540aa2ad-9a8d-454d-b915-605b884e76d5":  {
			"type": "image",
			"name": "Image",
			"description": "",
			"load_lightbox": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512"
		},
		"cec36dd6-ffde-494d-b25c-8e58bff84e22":  {
			"type": "text",
			"name": "Original Title",
			"description": "",
			"default": "",
			"repeatable": "0"
		},
		"8a220e32-6975-41ec-9c26-4f73f18d47d3":  {
			"type": "date",
			"name": "Release Date",
			"description": "",
			"repeatable": "0"
		},
		"40405a26-d781-4f80-86f6-bc8587c59755":  {
			"type": "country",
			"name": "Country",
			"description": "",
			"multiselect": "1",
			"selectable_country":  {
				"0": "AF",
				"1": "AX",
				"2": "AL",
				"3": "DZ",
				"4": "AS",
				"5": "AD",
				"6": "AO",
				"7": "AI",
				"8": "AQ",
				"9": "AG",
				"10": "AR",
				"11": "AM",
				"12": "AW",
				"13": "AU",
				"14": "AT",
				"15": "AZ",
				"16": "BS",
				"17": "BH",
				"18": "BD",
				"19": "BB",
				"20": "BY",
				"21": "BE",
				"22": "BZ",
				"23": "BJ",
				"24": "BM",
				"25": "BT",
				"26": "BO",
				"27": "BA",
				"28": "BW",
				"29": "BV",
				"30": "BR",
				"31": "IO",
				"32": "BN",
				"33": "BG",
				"34": "BF",
				"35": "BI",
				"36": "KH",
				"37": "CM",
				"38": "CA",
				"39": "CV",
				"40": "KY",
				"41": "CF",
				"42": "TD",
				"43": "CL",
				"44": "CN",
				"45": "CX",
				"46": "CC",
				"47": "CO",
				"48": "KM",
				"49": "CG",
				"50": "CD",
				"51": "CK",
				"52": "CR",
				"53": "CI",
				"54": "HR",
				"55": "CU",
				"56": "CY",
				"57": "CZ",
				"58": "DK",
				"59": "DJ",
				"60": "DM",
				"61": "DO",
				"62": "EC",
				"63": "EG",
				"64": "SV",
				"65": "GQ",
				"66": "ER",
				"67": "EE",
				"68": "ET",
				"69": "FK",
				"70": "FO",
				"71": "FJ",
				"72": "FI",
				"73": "FR",
				"74": "GF",
				"75": "PF",
				"76": "TF",
				"77": "GA",
				"78": "GM",
				"79": "GE",
				"80": "DE",
				"81": "GH",
				"82": "GI",
				"83": "GR",
				"84": "GL",
				"85": "GD",
				"86": "GP",
				"87": "GU",
				"88": "GT",
				"89": "GG",
				"90": "GN",
				"91": "GW",
				"92": "GY",
				"93": "HT",
				"94": "HM",
				"95": "VA",
				"96": "HN",
				"97": "HK",
				"98": "HU",
				"99": "IS",
				"100": "IN",
				"101": "ID",
				"102": "IR",
				"103": "IQ",
				"104": "IE",
				"105": "IM",
				"106": "IL",
				"107": "IT",
				"108": "JM",
				"109": "JP",
				"110": "JE",
				"111": "JO",
				"112": "KZ",
				"113": "KE",
				"114": "KI",
				"115": "KP",
				"116": "KR",
				"117": "KW",
				"118": "KG",
				"119": "LA",
				"120": "LV",
				"121": "LB",
				"122": "LS",
				"123": "LR",
				"124": "LY",
				"125": "LI",
				"126": "LT",
				"127": "LU",
				"128": "MO",
				"129": "MK",
				"130": "MG",
				"131": "MW",
				"132": "MY",
				"133": "MV",
				"134": "ML",
				"135": "MT",
				"136": "MH",
				"137": "MQ",
				"138": "MR",
				"139": "MU",
				"140": "YT",
				"141": "MX",
				"142": "FM",
				"143": "MD",
				"144": "MC",
				"145": "MN",
				"146": "ME",
				"147": "MS",
				"148": "MA",
				"149": "MZ",
				"150": "MM",
				"151": "NA",
				"152": "NR",
				"153": "NP",
				"154": "NL",
				"155": "AN",
				"156": "NC",
				"157": "NZ",
				"158": "NI",
				"159": "NE",
				"160": "NG",
				"161": "NU",
				"162": "NF",
				"163": "MP",
				"164": "NO",
				"165": "OM",
				"166": "PK",
				"167": "PW",
				"168": "PS",
				"169": "PA",
				"170": "PG",
				"171": "PY",
				"172": "PE",
				"173": "PH",
				"174": "PN",
				"175": "PL",
				"176": "PT",
				"177": "PR",
				"178": "QA",
				"179": "RE",
				"180": "RO",
				"181": "RU",
				"182": "RW",
				"183": "BL",
				"184": "SH",
				"185": "KN",
				"186": "LC",
				"187": "MF",
				"188": "PM",
				"189": "VC",
				"190": "WS",
				"191": "SM",
				"192": "ST",
				"193": "SA",
				"194": "SN",
				"195": "RS",
				"196": "SC",
				"197": "SL",
				"198": "SG",
				"199": "SK",
				"200": "SI",
				"201": "SB",
				"202": "SO",
				"203": "ZA",
				"204": "GS",
				"205": "ES",
				"206": "LK",
				"207": "SD",
				"208": "SR",
				"209": "SJ",
				"210": "SZ",
				"211": "SE",
				"212": "CH",
				"213": "SY",
				"214": "TW",
				"215": "TJ",
				"216": "TZ",
				"217": "TH",
				"218": "TL",
				"219": "TG",
				"220": "TK",
				"221": "TO",
				"222": "TT",
				"223": "TN",
				"224": "TR",
				"225": "TM",
				"226": "TC",
				"227": "TV",
				"228": "UG",
				"229": "UA",
				"230": "AE",
				"231": "GB",
				"232": "US",
				"233": "UM",
				"234": "UY",
				"235": "UZ",
				"236": "VU",
				"237": "VE",
				"238": "VN",
				"239": "VG",
				"240": "VI",
				"241": "WF",
				"242": "EH",
				"243": "YE",
				"244": "ZM",
				"245": "ZW"
			}
		},
		"69057819-0f6e-46ba-a16f-580328c3bfe4":  {
			"type": "text",
			"name": "Runtime",
			"description": "",
			"default": "",
			"repeatable": "0"
		},
		"3c1156e0-14d2-4e70-8d75-a3a92c93d7b9":  {
			"type": "relateditems",
			"name": "Director",
			"description": "",
			"selectable_type":  {
				"0": "person"
			}
		},
		"391d1811-250b-4e1f-9e67-a5cbbbbff1b9":  {
			"type": "relateditems",
			"name": "Cast",
			"description": "",
			"selectable_type":  {
				"0": "person"
			}
		},
		"2cb12d98-ceb8-4c15-938f-d51b39256056":  {
			"type": "text",
			"name": "Awards",
			"description": "",
			"default": "",
			"repeatable": "0"
		},
		"2a2257fa-56fd-4bdb-8b47-662baba460e4":  {
			"type": "link",
			"name": "Websites",
			"description": "",
			"repeatable": "1"
		},
		"f8cadbf4-23f0-479f-929f-15801b7a8442":  {
			"type": "relateditems",
			"name": "Related Work",
			"description": "",
			"selectable_type":  {
				"0": "movie"
			}
		},
		"b40b44c8-a289-46b6-a6da-9f9824714762":  {
			"type": "textarea",
			"name": "Plot",
			"description": "",
			"default": "",
			"jplugins": "0",
			"repeatable": "1"
		},
		"fc6f9df9-8604-4ce2-a293-c60089ec6dbc":  {
			"type": "textarea",
			"name": "Story",
			"description": "",
			"default": "",
			"jplugins": "0",
			"repeatable": "1"
		},
		"cad118dc-046d-493a-bc81-54baab5885a4":  {
			"type": "textarea",
			"name": "Cast & Characters",
			"description": "",
			"default": "",
			"jplugins": "0",
			"repeatable": "1"
		},
		"a015036f-653a-4b94-a57f-c78824688330":  {
			"type": "textarea",
			"name": "Conclusion",
			"description": "",
			"default": "",
			"jplugins": "0",
			"repeatable": "1"
		},
		"7ffdd4bd-bafd-4b2d-9639-b7e3270864f1":  {
			"type": "gallery",
			"name": "Gallery",
			"description": "",
			"directory": "images",
			"cache_time": "1440",
			"load_lightbox": "1",
			"rel": ""
		},
		"176cb7b9-307b-44ad-b2d9-964cfcb9abcb":  {
			"type": "rating",
			"name": "Rating",
			"description": "",
			"stars": "5",
			"allow_vote": "0"
		}
	}
}