 {
	"name": "Person",
	"elements":  {
		"93d283c0-eee0-473e-bf68-e5ebc3c3338e":  {
			"type": "image",
			"name": "Image",
			"description": "",
			"load_lightbox": "1",
			"upload_directory": "images\/zoo\/uploads\/",
			"max_upload_size": "512"
		},
		"01487dbf-e63a-446e-a099-b07be96570a3":  {
			"type": "date",
			"name": "Birthday",
			"description": "",
			"repeatable": "0"
		},
		"f34a0b21-d430-4e19-a0d4-bc2820958b76":  {
			"type": "text",
			"name": "Birthplace",
			"description": "",
			"default": "",
			"repeatable": "0"
		},
		"a552a157-ce11-4b11-ad34-5de19e065d53":  {
			"type": "textarea",
			"name": "Biography",
			"description": "",
			"default": "",
			"jplugins": "1",
			"repeatable": "1"
		},
		"0798146b-ac26-4637-9d78-afd3042eed24":  {
			"type": "text",
			"name": "Awards",
			"description": "",
			"default": "",
			"repeatable": "1"
		},
		"0d476334-e441-40c0-ac48-7a2bb0aef262":  {
			"type": "link",
			"name": "Websites",
			"description": "",
			"repeatable": "1"
		},
		"b514c22a-278c-4abf-8417-60a01677d3ef":  {
			"type": "relateditems",
			"name": "Movie",
			"description": "",
			"selectable_type":  {
				"0": "movie"
			}
		}
	}
}