 {
	"business.company.feed":  {
		"description":  {
			"0":  {
				"altlabel": "",
				"display": "all",
				"element": "1a85a7a6-2aba-4480-925b-6b97d311ee6c",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			}
		}
	},
	"business.company.full":  {
		"top":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "default",
				"download_name": "Download {filename}",
				"element": "fae98922-b57c-4c9e-b58b-41c4ef01e2a7"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "imagelink",
				"download_name": "Download {filename}",
				"element": "fae98922-b57c-4c9e-b58b-41c4ef01e2a7"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "buttonlink",
				"download_name": "Download {filename}",
				"element": "fae98922-b57c-4c9e-b58b-41c4ef01e2a7"
			},
			"3":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "filesize",
				"download_name": "Download {filename}",
				"element": "fae98922-b57c-4c9e-b58b-41c4ef01e2a7"
			},
			"4":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "filehits",
				"download_name": "Download {filename}",
				"element": "fae98922-b57c-4c9e-b58b-41c4ef01e2a7"
			},
			"5":  {
				"showlabel": "0",
				"altlabel": "",
				"display": "download_limit",
				"download_name": "Download {filename}",
				"element": "fae98922-b57c-4c9e-b58b-41c4ef01e2a7"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "ed9cdd4c-ae8b-4ecb-bca7-e12a5153bc02"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "0e201ab5-39f2-4712-8578-0d7391927709"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "0",
				"show_message": "1",
				"element": "cf6dd846-5774-47aa-8ca7-c1623c06e130"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "1a85a7a6-2aba-4480-925b-6b97d311ee6c"
			}
		},
		"address":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "4339a108-f907-4661-9aab-d6f3f00e736e"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "ea0666d7-51e3-4e52-8617-25e3ad61f8b8"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "90a18889-884b-4d53-a302-4e6e4595efa0"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "6a20c005-7bd3-4014-919a-6edfd2239284"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "81c5f642-2f7f-491f-b1c2-ce32ec688125"
			}
		},
		"contact":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "b870164b-fe78-45b0-b840-8ebceb9b9cb6"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "8a91aab2-7862-4a04-bd28-07f1ff4acce5"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "3f15b5e4-0dea-4114-a870-1106b85248de"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "0b3d983e-b2fa-4728-afa0-a0b640fa34dc"
			}
		},
		"employee":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Employees",
				"order": "",
				"layout": "related",
				"link_to_item": "0",
				"separated_by": "tag=[<div>%s<\/div>]",
				"element": "7056f1d2-5253-40b6-8efd-d289b10a8c69"
			}
		},
		"sidebar":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "250",
				"height": "",
				"link_to_item": "0",
				"element": "ffcc1c50-8dbd-4115-b463-b43bdcd44a57"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "Area of Operations",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemcategory"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemtag"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "On the map",
				"layout": "maps",
				"information": "Fill in your address into the address field below the map and the shortest route will be calculated.",
				"marker_popup": "0",
				"main_icon": "red-dot",
				"zoom_level": "13",
				"map_controls": "2",
				"scroll_wheel_zoom": "1",
				"map_type": "0",
				"type_controls": "1",
				"directions": "1",
				"width_unit": "%",
				"width": "100",
				"height": "400",
				"element": "160bd40a-3e0e-48de-b6cd-56cdcc9db892"
			}
		}
	},
	"business.company.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "150",
				"height": "",
				"link_to_item": "1",
				"element": "ffcc1c50-8dbd-4115-b463-b43bdcd44a57"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "ed9cdd4c-ae8b-4ecb-bca7-e12a5153bc02"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "a77f06fc-1561-453c-a429-8dd05cdc29f5"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemlink"
			}
		}
	},
	"business.employee.full":  {
		"contact":  {
			"0":  {
				"altlabel": "",
				"element": "59788cf7-338f-47b4-8eb2-9a9e8eb36fbf",
				"separated_by": "separator=[, ]",
				"showlabel": "1"
			},
			"1":  {
				"altlabel": "",
				"element": "b05cdf78-0375-457f-897a-f68f7ce0a776",
				"separated_by": "separator=[, ]",
				"showlabel": "1"
			},
			"2":  {
				"altlabel": "",
				"element": "3adbf326-7845-4e0d-8a11-cd631a829e96",
				"separated_by": "separator=[, ]",
				"showlabel": "1"
			}
		},
		"description":  {
			"0":  {
				"altlabel": "",
				"display": "all",
				"element": "241905cc-36d4-4611-a1d5-fadfe280f70e",
				"separated_by": "tag=[<div>%s<\/div>]",
				"showlabel": "0"
			}
		},
		"sidebar":  {
			"0":  {
				"altlabel": "",
				"element": "96624fe5-ff5a-4f1b-800e-a125e3980d43",
				"height": "",
				"link_to_item": "0",
				"showlabel": "0",
				"width": "220"
			}
		},
		"subtitle":  {
			"0":  {
				"altlabel": "",
				"element": "507fbea1-7974-4a67-aec8-3649cc41a067",
				"separated_by": "separator=[ ]",
				"showlabel": "0"
			},
			"1":  {
				"altlabel": "Working at",
				"element": "9f6a2113-ff5b-4974-9c19-5cb8eafb41ef",
				"layout": "",
				"link_to_item": "1",
				"order": "",
				"separated_by": "separator=[, ]",
				"showlabel": "1"
			}
		},
		"title":  {
			"0":  {
				"altlabel": "",
				"element": "_itemname",
				"link_to_item": "0",
				"showlabel": "0"
			}
		}
	},
	"business.employee.related":  {
		"links":  {
			"0":  {
				"altlabel": "",
				"element": "59788cf7-338f-47b4-8eb2-9a9e8eb36fbf",
				"separated_by": "separator=[ | ]",
				"showlabel": "0"
			},
			"1":  {
				"altlabel": "",
				"element": "b05cdf78-0375-457f-897a-f68f7ce0a776",
				"separated_by": "separator=[ | ]",
				"showlabel": "0"
			},
			"2":  {
				"altlabel": "",
				"element": "3adbf326-7845-4e0d-8a11-cd631a829e96",
				"separated_by": "separator=[ | ]",
				"showlabel": "0"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"element": "96624fe5-ff5a-4f1b-800e-a125e3980d43",
				"height": "",
				"link_to_item": "1",
				"showlabel": "0",
				"width": "50"
			}
		},
		"subtitle":  {
			"0":  {
				"altlabel": "",
				"element": "507fbea1-7974-4a67-aec8-3649cc41a067",
				"separated_by": "separator=[ ]",
				"showlabel": "0"
			}
		},
		"title":  {
			"0":  {
				"altlabel": "",
				"element": "_itemname",
				"link_to_item": "1",
				"showlabel": "0"
			}
		}
	},
	"business.company.maps":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"media":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"width": "150",
				"height": "",
				"link_to_item": "1",
				"element": "ffcc1c50-8dbd-4115-b463-b43bdcd44a57"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "ed9cdd4c-ae8b-4ecb-bca7-e12a5153bc02"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "a77f06fc-1561-453c-a429-8dd05cdc29f5"
			}
		}
	},
	"business.company.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "ed9cdd4c-ae8b-4ecb-bca7-e12a5153bc02"
			},
			"2":  {
				"altlabel": "",
				"required": "1",
				"element": "a77f06fc-1561-453c-a429-8dd05cdc29f5"
			},
			"3":  {
				"altlabel": "",
				"required": "1",
				"element": "1a85a7a6-2aba-4480-925b-6b97d311ee6c"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "fae98922-b57c-4c9e-b58b-41c4ef01e2a7"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "0e201ab5-39f2-4712-8578-0d7391927709"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "ffcc1c50-8dbd-4115-b463-b43bdcd44a57"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "4339a108-f907-4661-9aab-d6f3f00e736e"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "ea0666d7-51e3-4e52-8617-25e3ad61f8b8"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "90a18889-884b-4d53-a302-4e6e4595efa0"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "6a20c005-7bd3-4014-919a-6edfd2239284"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "81c5f642-2f7f-491f-b1c2-ce32ec688125"
			},
			"5":  {
				"altlabel": "",
				"required": "0",
				"element": "b870164b-fe78-45b0-b840-8ebceb9b9cb6"
			},
			"6":  {
				"altlabel": "",
				"required": "0",
				"element": "8a91aab2-7862-4a04-bd28-07f1ff4acce5"
			},
			"7":  {
				"altlabel": "",
				"required": "0",
				"element": "3f15b5e4-0dea-4114-a870-1106b85248de"
			},
			"8":  {
				"altlabel": "",
				"required": "0",
				"element": "0b3d983e-b2fa-4728-afa0-a0b640fa34dc"
			},
			"9":  {
				"altlabel": "",
				"required": "0",
				"element": "7056f1d2-5253-40b6-8efd-d289b10a8c69"
			},
			"10":  {
				"altlabel": "",
				"required": "0",
				"element": "160bd40a-3e0e-48de-b6cd-56cdcc9db892"
			}
		}
	},
	"business.employee.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "507fbea1-7974-4a67-aec8-3649cc41a067"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "241905cc-36d4-4611-a1d5-fadfe280f70e"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "96624fe5-ff5a-4f1b-800e-a125e3980d43"
			},
			"4":  {
				"altlabel": "",
				"required": "0",
				"element": "59788cf7-338f-47b4-8eb2-9a9e8eb36fbf"
			},
			"5":  {
				"altlabel": "",
				"required": "0",
				"element": "b05cdf78-0375-457f-897a-f68f7ce0a776"
			},
			"6":  {
				"altlabel": "",
				"required": "0",
				"element": "3adbf326-7845-4e0d-8a11-cd631a829e96"
			},
			"7":  {
				"altlabel": "",
				"required": "0",
				"element": "9f6a2113-ff5b-4974-9c19-5cb8eafb41ef"
			}
		}
	}
}