 {
	"name": "Page",
	"elements":  {
		"32a20413-8157-462f-8acc-6abe123f5fc3":  {
			"type": "textarea",
			"name": "Description",
			"description": "",
			"default": "",
			"jplugins": "1",
			"repeatable": "0"
		},
		"2e3c9e69-1f9e-4647-8d13-4e88094d2790":  {
			"type": "textarea",
			"name": "Text",
			"description": "Enter your article text here. The 'Read more' button allows you to create a teaser text for your article. If the article has a 'Read more' break, only the text before the break will be displayed in the catalog\/category view. In the item view the full text will be displayed.",
			"default": "",
			"jplugins": "1",
			"repeatable": "1"
		},
		"ff1ed5b5-4365-457e-98bb-026366028bd7":  {
			"type": "video",
			"name": "Video",
			"description": "You can choose a video which will be displayed in the item view.",
			"directory": "images"
		},
		"65b7851d-199f-4ac6-95a7-409ad1bca488":  {
			"type": "relateditems",
			"name": "Related Articles",
			"description": "Choose related items. They will be displayed as l, which will be displayed as links to the specific item."
		},
		"fdcbebaa-e61a-462d-963e-aff74ff95499":  {
			"type": "link",
			"name": "External Related Articles",
			"description": "",
			"repeatable": "1"
		},
		"6bc47900-08c1-45ab-a4a2-ed74a58e1d5e":  {
			"type": "text",
			"name": "Author",
			"description": "",
			"default": "",
			"repeatable": "0"
		},
		"6af341e4-f0e9-4605-b2a5-60d7a3525a96":  {
			"type": "socialbookmarks",
			"name": "Social Bookmarks",
			"description": "",
			"google": "1",
			"technorati": "1",
			"yahoo": "1",
			"delicious": "1",
			"stumbleupon": "1",
			"digg": "1",
			"facebook": "1",
			"reddit": "1",
			"myspace": "1",
			"live": "1",
			"twitter": "1",
			"email": "1"
		}
	}
}