{
	"name":"Core",
	"elements":{
		"_itemauthor":{
			"name":"Author",
			"type":"itemauthor"
		},
		"_itemcategory":{
			"name":"Categories",
			"type":"itemcategory"
		},
		"_itemcommentslink":{
			"name":"Comments Link",
			"type":"itemcommentslink"
		},
		"_itemcreated":{
			"name":"Creation Date",
			"type":"itemcreated"
		},
		"_itemhits":{
			"name":"Hits",
			"type":"itemhits"
		},
		"_itemlink":{
			"name":"Item Link",
			"type":"itemlink"
		},
		"_itemname":{
			"name":"Name",
			"type":"itemname"
		},
		"_itemmodified":{
			"name":"Modification Date",
			"type":"itemmodified"
		},
		"_itemprint":{
			"name":"Print",
			"type":"itemprint"
		},
		"_itempublish_up":{
			"name":"Publish Up Date",
			"type":"itempublish_up"
		},
		"_itemtag":{
			"name":"Tags",
			"type":"itemtag"
		}
	}
}