 {
	"documentation.page.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "32a20413-8157-462f-8acc-6abe123f5fc3"
			}
		},
		"links":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "_itemlink"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"single_comment_text": "%s Comment",
				"multiple_comments_text": "%s Comments",
				"no_comments_text": "No Comments",
				"element": "_itemcommentslink"
			}
		}
	},
	"documentation.page.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "32a20413-8157-462f-8acc-6abe123f5fc3"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "ff1ed5b5-4365-457e-98bb-026366028bd7"
			}
		},
		"related":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"order": "",
				"separated_by": "tag=[<li>%s<\/li>]",
				"layout": "",
				"link_to_item": "1",
				"element": "65b7851d-199f-4ac6-95a7-409ad1bca488"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<li>%s<\/li>]",
				"element": "fdcbebaa-e61a-462d-963e-aff74ff95499"
			}
		},
		"meta":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Written by",
				"separated_by": "separator=[, ]",
				"element": "6bc47900-08c1-45ab-a4a2-ed74a58e1d5e"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"date_format": "%A, %d %B %Y",
				"custom_format": "",
				"element": "_itemcreated"
			}
		},
		"taxonomy":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "Posted in",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemcategory"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"linked": "1",
				"separated_by": "separator=[, ]",
				"element": "_itemtag"
			}
		},
		"bottom":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "6af341e4-f0e9-4605-b2a5-60d7a3525a96"
			}
		}
	},
	"documentation.page.feed":  {
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"display": "all",
				"element": "32a20413-8157-462f-8acc-6abe123f5fc3"
			}
		}
	},
	"documentation.page.submission":  {
		"content":  {
			"0":  {
				"altlabel": "",
				"required": "1",
				"element": "_itemname"
			},
			"1":  {
				"altlabel": "",
				"required": "1",
				"element": "32a20413-8157-462f-8acc-6abe123f5fc3"
			},
			"2":  {
				"altlabel": "",
				"required": "1",
				"element": "2e3c9e69-1f9e-4647-8d13-4e88094d2790"
			}
		},
		"media":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "ff1ed5b5-4365-457e-98bb-026366028bd7"
			}
		},
		"meta":  {
			"0":  {
				"altlabel": "",
				"required": "0",
				"element": "6bc47900-08c1-45ab-a4a2-ed74a58e1d5e"
			},
			"1":  {
				"altlabel": "",
				"required": "0",
				"element": "65b7851d-199f-4ac6-95a7-409ad1bca488"
			},
			"2":  {
				"altlabel": "",
				"required": "0",
				"element": "fdcbebaa-e61a-462d-963e-aff74ff95499"
			},
			"3":  {
				"altlabel": "",
				"required": "0",
				"element": "6af341e4-f0e9-4605-b2a5-60d7a3525a96"
			}
		}
	}
}